* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* banner section */

.banner {
    width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    background-position: cover;

}



.banner-contant {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0px 0px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    padding: 197px 0px 0px 0px;
}

.banner-section {
    padding: 0px 0px 0px 240px;

}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    align-items: flex-start;
    background: #E55473;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    gap: 10px;
    margin: 30px 0px;
}

.banner-img {
    width: 635px;
    height: 800px;
    background-repeat: no-repeat;
    align-items: center;
    padding: 50px 0px 0px 0px;
    margin: 0px 0px 0px 97px;
}

/* feature-section */
.feature-section {
    width: 1920px;
    margin: 178px 0px 0px 0px;
    align-items: center;
}

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.feature-contant {}

.feature-paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 663px;
}

.all-box {
    display: flex;
    gap: 24px;

}

.box1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    margin: 48px 0px 0px 240px;
}

.box2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 48px 0px 0px 0px;
}

.box3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin: 48px 0px 0px 0px;
}

.icon1 {
    width: 310px;
    height: 428px;
    margin: 110px 78px 0px 76px;
}

.icon2 {
    width: 370px;
    height: 370px;
    margin: 110px 78px 60px 76px;
}

.icon3 {
    width: 314px;
    height: 471px;
    margin: 67px 75px 0px;
}

.box-name {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}


/* service section */
.service {
    width: 1440px;
    height: 320px;
    margin: 128px 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
}

.service-img1 {
    width: 88px;
    height: 88px;
    padding: 86px 0px 0px 300px;
}

.service-img2 {
    width: 88px;
    height: 88px;
    padding: 86px 0px 0px 200px;
}

.service-img3 {
    width: 88px;
    height: 88px;
    padding: 86px 0px 0px 185px;
}

.service-contant1 {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    padding: 0px 0px 87px 160px;
}

.service-contant2 {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    padding: 0px 0px 87px 55px;

}

.service-contant3 {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding: 0px 0px 87px 100px;
}

/* signup-section */

.signup-section {
    width: 1920px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
}

.signup-contant {
    padding: 230px 0px 100px 395px;
}

.signup-section-img {
    width: 318px;
    height: 420px;
    padding: 100px 429px 100px 186px;
}

.signup-title>span {
    color: #E55473;
}

/* social section */

.social-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    padding: 128px 870px 0px;

}

.social-contant {
    width: 594px;
    flex-direction: column;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px 0px 663px;
}

.box-img {
    width: 342px;
    height: 396px;
    margin: 48px 0px 0px 240px;
}

.all-box-img {
    display: flex;
    padding: 48px 0px 0px 240px;
}

.box-img2 {
    padding: 0px 0px 0px 24px;
}

.box-img3 {
    padding: 0px 0px 0px 24px;
}

.box-img4 {
    padding: 0px 0px 0px 24px;
}

/* subscribe-section */
.subscribe-container {
    margin: 128px 0px 0px 240px;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background-image: url("assets/rectangle9.png");
    text-align: center;

}

.subscribe-title {
    padding-top: 122px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal
}

.subscribe-contant {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 16px;
}

.subscribe-container>input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding-left: 22px;
}


/* footer section */

.footer-container {
    width: 1922px;
    height: 449px;
    background-color: #111010;
    margin: 128px 0px 0px;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    line-height: normal;
    color: #FFFFFF;
    padding: 128px 0px 0px 0px;
}

.footer-title>span {
    color: #E55473;
}

.footer-contant {
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 0px 0px 648px;

}

.footer-bottom {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 32px;
}