* {
    margin: 0px;
    padding: 0px;
}

* {
    font-family: 'Open Sans', sans-serif;

}

/* banner section */

.banner {
    width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    padding: 197px 0px 0px 0px;
}

.banner-contant {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner-section {
    margin: 0px 240px;
}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner-img {
    width: 635px;
    height: 800px;
    background-color: lightgray 50%;
    background-repeat: no-repeat;
    align-items: center;
    padding: 50px 0px 0px 0px;
}

.feature-section {
    width: 1920px;
    height: px;
    margin: 178px 0px 240px;
}

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.feature-contant {}

.feature-paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 663px;
}

.box-img {
    width: 310px;
    height: 428px;
    background-image: lightgray 50%;
}